font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;

/*Global css start*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Playfair Display', serif;
	color: #626262;
}
.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	/*border: 1px solid red;*/	
}
.container2{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	/*border: 1px solid red;*/
}
/*Global css end*/	

/*Header section css start*/
header{
	padding: 25px 0;
}
.logo{
	width: 13%;
	float: left;
}
.logo img{
    width: 100%;
    padding: 10px 0;
}
.menu{
	width: 70%;
	float: right;
}
.menu ul{
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;
    margin: 0 50px;

}
.menu ul li a{
	padding: 10px 0;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.6s ease;
}
.menu ul li:last-child a{
	margin-right: 0px;
}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;
	cursor: pointer;
	color: #000;
}

/*Header section css end*/	
/*Banneer section css start*/	
.banner{}
.banner img{
	width: 100%;
}
/*Banneer section css end*/		
/*Intro section css start*/	
.intro {
	margin-top: 95px;
	margin-bottom: 65px;
}
.c_p{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #b4ad9e;
	text-transform: uppercase;
}
.c_heading{
	margin-top: 27px;
	margin-bottom: 35px;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-weight: 400;
	color: #626262;
	

}
.c_text{
	margin-bottom: 50px;
	line-height: 25px;

}
/*Intro section css end*/	
/*Lifestyle section css start*/	
.lifestyle_section{}
.lifestyle{
	width: 45%;
    float: left;
    margin: 0 25px;
    margin-top: 70px;
}
.img_top img{
	width: 100%;
}
.content{
	margin-top: 50px;
	margin-bottom: 120px;
}
.content h4{
	margin: 30px 0 30px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #b4ad9e;
	text-transform: uppercase;
}
.content h1{
	font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 500;
    color: #626262;
    letter-spacing: 1px;
}
.content p{
	font-size: 16px;
    line-height: 25px;
}
/*Lifestyle section css end*/
/*Photodiary sention css start*/

.photodiry{
	width: 45%;
    float: left;
    margin: 135px 25px;
}
/*Photodiary sention css end*/

/*Newsletter sention css start*/
.news_letter{
	padding: 75px 0;
	background-color: #f0f0f0;
}
.form_box{

}
.form_box h2{
	margin-bottom: 80px;
	font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 500;
    color: #626262;
    letter-spacing: 1px;
    text-align: center;
}
.group{
	position: relative;
	text-align: center;
}
.group input{
	padding-bottom: 10px;
	width: 25%;
    font-size: 16px;
    background: #f0f0f0;
    border-top: none;
    border-bottom: 2px solid #a0a0a0;;
    border-left: none;
    border-right: none;
}
.group input:focus{
	outline:  none;
}
.group i{
	position: absolute;
    font-size: 25px;
    color: #9a9898;
    top: -6px;
    right: 565px;
}
/*Newsletter sention css end*/
.load{
	text-align: center;
}
.load button{
	margin: 150px 0;
    font-size: 25px;
    color: #626262;
    background: transparent;
    width: 180px;
    height: 75px;
   
}

footer{
	background-color: #f0f0f0;
}
.tarms{
	width: 40%;
	float: left;
}
.tarms ul{
	padding:10px 0 ;
}
.tarms ul li{
	padding: 0 15px;
	list-style: none;
	float: left;
}
.tarms ul li a{
	text-decoration: none;
	color: #000;
}
.social{
	width: 40%;
	float: right;
}
.social p{
	}
.social ul{}
.social ul li{
	padding: 0 15px;
	list-style: none;
	float: left;
}
.social ul li a{
	text-decoration: none;
	color: #000;
}
